name: Extract and Package Fastboot Firmware

on:
    workflow_dispatch:
        inputs:
            fileurl:
                description: 'link of full OxygenOS/ColorOS file'
                required: true
                type: string

env:
    GH_TOKEN: ${{ github.token }}

jobs:
    extracting-boot:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@main
            - name: Set up Environment
              run: |
                sudo apt-get update
                sudo apt-get install -y aria2 p7zip-full
            - name: Downloading otadump    
              run: |
                wget -O otadump.tar.gz https://github.com/crazystylus/otadump/releases/download/0.1.2/otadump-0.1.2-x86_64-unknown-linux-gnu.tar.gz
                tar xvf otadump.tar.gz
                chmod +x otadump
            - name: Downloading and Extracting payload.bin
              run: |
                aria2c -o ota.zip --user-agent='Dalvik/2.1.0 (Linux; U; Android 15; CPH2585 Build/AQ3A.241114.001)' -x 16 "${{ github.event.inputs.fileurl }}"
                unzip ota.zip payload.bin META-INF/*
                rm ota.zip
            - name: Dumping firmware and organizing structure
              run: | 
                REL_NAME=$(grep "version_name=" META-INF/com/android/metadata | sed 's/^[^=]*=//' | tr -d '\r')
                echo "REL_NAME=$REL_NAME" >> $GITHUB_ENV
                PARTITIONS="abl,aop_config,aop,bluetooth,cpucp,cpucp_dtb,devcfg,dsp,engineering_cdt,featenabler,hyp,imagefv,keymaster,modem,oplus_sec,oplusstanvbk,qupfw,shrm,splash,tz,uefi,uefisecapp,xbl_config,xbl_ramdump,xbl"
                ./otadump payload.bin --partitions $PARTITIONS
                rm payload.bin
                mkdir -p output_firmware
                find extracted* -name "*.img" -exec mv {} output_firmware/ \;
                wget -O output_firmware/flash_all.bat https://github.com/wuwuming126/fw-repo/blob/64436f3356e94f56919acc4364dc1973c4064390/fw_flash_all.bat
                wget -O custom_pt.zip https://raw.githubusercontent.com/wuwuming126/fw-repo/221524352d77bcce3a1a44aa6c152db6437ca933/platform-tools-latest-windows.zip
                unzip custom_pt.zip -d output_firmware/
                rm custom_pt.zip
            - name: 7z Solid Compression
              run: |
                cd output_firmware
                7z a -t7z -m0=lzma2 -mx=9 -ms=on "../${{ env.REL_NAME }}_firmware.7z" ./*
            - name: Creating release
              run: |
                gh release create "${{ env.REL_NAME }}" --title "${{ env.REL_NAME }}" --notes "Fastboot Firmware with custom tools and script" "${{ env.REL_NAME }}_firmware.7z"